<p>
  sidebar works!
</p>
<my-viewer-list [selectedChannels]="selectedChannels"></my-viewer-list>
<div id="sidebar">

  <md-list>
    <h3 md-subheader>表示一覧</h3>
    <md-list-item *ngFor="let channel of selectedChannels" (click)="onSelect(channel)">
      <img md-list-avatar [src]="channel.image" alt="">
      <h3 md-line>{{channel.name}}</h3>
      <p md-line>{{channel.title}}</p>
    </md-list-item>
    <md-divider></md-divider>
    <h3 md-subheader>放送中一覧</h3>
    <md-list-item *ngFor="let channel of channels" (click)="onSelect(channel)">
      <img md-list-avatar [src]="channel.image" alt="">
      <h3 md-line>{{channel.name}}</h3>
      <p md-line>{{channel.title}}</p>
    </md-list-item>
  </md-list>
</div>
