<div class="intro">
  <h2>このサイトについて</h2>
  <ul>
    <li>Fc2ライブ アダルトを多窓で快適に見るためのサイトです。</li>
    <li>現在放送中のものから好きな放送を選ぶことができます。</li>
    <li>マルチビューワーをみるから移動してお使い下さい。</li>
  </ul>
</div>
<div class="button">
  <a routerLink="/viewer" md-button>マルチビューワーをみる</a>
</div>
<div class="howtouse">
  <h2>マルチビューワーの使い方</h2>
</div>
<div class="button">
  <a routerLink="/viewer" md-button>マルチビューワーをみる</a>
</div>
<div>
  <h3>注意事項</h3>
    <ul>
      <li>当サイトはFC2様とは無関係です。</li>
    </ul>
</div>
<div>
<p>
  ご意見やご要望などは下記メールアドレスまでお気軽にご連絡ください。
</p>
<p>fc2live.viewer@gmail.com</p>
</div>
